<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          Fullheight hero
        </p>
        <p class="subtitle">
          Fullheight subtitle
        </p>
      </div>
    </div>
</section>

<section class="section is-large" id="sec-1">
    <h1 class="title has-text-centered">Large section</h1>
    <h2 class="subtitle has-text-centered">
      A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
    </h2>

    <br>

    <div class="container" id="main-cards">
        <div class="columns is-desktop p-6">
            <div class="card m-5 column main-card">
                <div class="card-content">
                  <div class="content">
                    <img src="/img/layers.svg" width="60" height="60" alt="data image">
                    <p>
                      Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus.
                    </p>
                  </div>
                </div>
              </div>
        
              <div class="card m-5 column main-card">
                <div class="card-content">
                  <div class="content">
                    <img src="/img/layers.svg" width="60" height="60"  alt="data image">
                    <p>
                      Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus.
                    </p>
                  </div>
                </div>
              </div>
        
              <div class="card m-5 column main-card">
                <div class="card-content">
                  <div class="content">
                    <img src="/img/layers.svg" width="60" height="60"  alt="data icon">
                    <p>
                      Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus.
                    </p>
                  </div>
                </div>
              </div>
        </div>
    </div>
 
</section>

<section class="section is-large columns is-desktop" id="sec-2">
    <div class="column sec-2-column-1 is-hidden-mobile">
      <img src="/img/main-sec-2.webp" alt="business solution">
    </div>
    
    <div class="column">
      <div class="content sec-2-column-2 sec-2-content-wrap">
        <h1>Large section</h1>
        <h2>
          A simple container to divide your page into sections, like the one you're currently reading.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <button>About Us</button>
      </div>
    </div>
</section>

<section class="section is-large" id="sec-3">
  <h1 class="title">Large section</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2 class>
</section>